# made with love by andrewgattax
services:
  marco:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: marco
    network_mode: "bridge"
    restart: unless-stopped
    working_dir: /app
    volumes:
      - ./data:/app/data

